@layer theme, base, mantine, components, utilities;

@import 'tailwindcss';
@import '@mantine/core/styles.layer.css';

@layer base {
  * {
    border-color: var(--mantine-color-default-border);
  }
}

@utility container {
  padding-inline: 1rem;
  margin-inline: auto;
}
